<div class="logged-in-user">
    <span class="dot"></span>
    <span> {{userObj.user}} / {{userObj.room}} </span>
    <span (click)="onLeaveClickHandler()" class="sign-out-icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
</div>
<div class="container">
    <div class="mesgs">
        <div class="msg-history-sec">
            <div class="msg-history" *ngFor='let item of messageArray'>
                <div class="incoming_msg">
                    <!-- <div class="incoming-msg-img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div> -->
                    <div class="received-msg" *ngIf="item.type == 'I'">
                        <div class="received-withd-msg">
                            <p><strong>{{item.user}} : </strong>{{item.message}}
                            </p>
                            <!-- <span class="time-date"> 11:01 AM    |    June 9</span></div> -->
                        </div>
                    </div>
                    <div class="outgoing-msg" *ngIf="item.type == 'O'">
                        <div class="sent-msg">
                            <p>{{item.message}}
                            </p>
                            <!-- <span class="time-date"> 11:01 AM    |    June 9</span> </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="type-msg">
            <div class="input-msg-write">
                <input type="text" [(ngModel)]="inputMessage" class="write_msg" placeholder="Type a message" />
                <button mat-mini-fab color="primary" class="msg-send-btn" (click)="onSendMsgClickHandler()">
                          <mat-icon>send</mat-icon>
                    </button>
            </div>
        </div>
    </div>
</div>
