<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div>
            <span>Hello  </span>
            <span class='logged-in-user'>{{user}}</span>
            <span>, </span>
        </div>
        <div>
            <span> Welcome to </span>
            <span class='logged-in-room'> {{room}} </span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div class="container">
    <div class="mesgs">
        <div class="msg-history-sec">
            <div class="msg-history" *ngFor='let item of messageArray'>
                <div class="incoming_msg">
                    <!-- <div class="incoming-msg-img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div> -->
                    <div class="received-msg">
                        <div class="received-withd-msg">
                            <p>{{item.message}}
                            </p>
                            <!-- <span class="time-date"> 11:01 AM    |    June 9</span></div> -->
                        </div>
                    </div>
                    <div class="outgoing-msg">
                        <div class="sent-msg">
                            <p>{{item.message}}
                            </p>
                            <!-- <span class="time-date"> 11:01 AM    |    June 9</span> </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="type-msg">
                <div class="input-msg-write">
                    <input matInput type="text" [(ngModel)]="inputMessage" class="write_msg" placeholder="Type a message" />
                    <button mat-mini-fab color="primary" class="msg-send-btn" (click)="onSendMsgClickHandler()">
                          <mat-icon>send</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
